################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/BuildHelper/v15
/Temp/Debug/x64
/Temp/Debug/Win32
/bin/Debug
/BuildHelper/BuildHelper.vcxproj.user
/.vs/config
/BuildHelper/bin/Release/x64
/BuildHelper/BuildHelper
/yona
